<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (local) {
      <div>
        <h2 data-cy="localDetailsHeading"><span jhiTranslate="tesPatApp.local.detail.title">Local</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="tesPatApp.local.nome">Nome</span></dt>
          <dd>
            <span>{{ local.nome }}</span>
          </dd>
          <dt><span jhiTranslate="tesPatApp.local.descricao">Descricao</span></dt>
          <dd>
            <span>{{ local.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="tesPatApp.local.sala">Sala</span></dt>
          <dd>
            <span>{{ local.sala }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/local', local.nome, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
