<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-movimentacao-heading"
        data-cy="MovimentacaoCreateUpdateHeading"
        jhiTranslate="tesPatApp.movimentacao.home.createOrEditLabel"
      >
        Create or edit a Movimentacao
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="tesPatApp.movimentacao.id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_data" jhiTranslate="tesPatApp.movimentacao.data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descricao" jhiTranslate="tesPatApp.movimentacao.descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tipo" jhiTranslate="tesPatApp.movimentacao.tipo">Tipo</label>
          <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo" data-cy="tipo">
            <option [ngValue]="null">{{ 'tesPatApp.TipoMovimentacao.null' | translate }}</option>
            @for (tipoMovimentacao of tipoMovimentacaoValues; track $index) {
              <option [value]="tipoMovimentacao">{{ 'tesPatApp.TipoMovimentacao.' + tipoMovimentacao | translate }}</option>
            }
          </select>
          @if (editForm.get('tipo')!.invalid && (editForm.get('tipo')!.dirty || editForm.get('tipo')!.touched)) {
            <div>
              @if (editForm.get('tipo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_bem" jhiTranslate="tesPatApp.movimentacao.bem">Bem</label>
          <select class="form-control" id="field_bem" data-cy="bem" name="bem" formControlName="bem" [compareWith]="compareBem">
            @if (!editForm.get('bem')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (bemOption of bensSharedCollection; track $index) {
              <option [ngValue]="bemOption">{{ bemOption.patrimonio }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['bem'])!.invalid && (editForm.get(['bem'])!.dirty || editForm.get(['bem'])!.touched)) {
          <div>
            @if (editForm.get(['bem'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_local" jhiTranslate="tesPatApp.movimentacao.local">Local</label>
          <select class="form-control" id="field_local" data-cy="local" name="local" formControlName="local" [compareWith]="compareLocal">
            @if (!editForm.get('local')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (localOption of locaisSharedCollection; track $index) {
              <option [ngValue]="localOption">{{ localOption.nome }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['local'])!.invalid && (editForm.get(['local'])!.dirty || editForm.get(['local'])!.touched)) {
          <div>
            @if (editForm.get(['local'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_pessoa" jhiTranslate="tesPatApp.movimentacao.pessoa">Pessoa</label>
          <select
            class="form-control"
            id="field_pessoa"
            data-cy="pessoa"
            name="pessoa"
            formControlName="pessoa"
            [compareWith]="comparePessoa"
          >
            <option [ngValue]="null"></option>
            @for (pessoaOption of pessoasSharedCollection; track $index) {
              <option [ngValue]="pessoaOption">{{ pessoaOption.usuario }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
