<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-bem-heading" data-cy="BemCreateUpdateHeading" jhiTranslate="tesPatApp.bem.home.createOrEditLabel">
        Create or edit a Bem
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="tesPatApp.bem.id" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.patrimonio" for="field_patrimonio">Patrimonio</label>
          <input
            type="number"
            class="form-control"
            name="patrimonio"
            id="field_patrimonio"
            data-cy="patrimonio"
            formControlName="patrimonio"
          />
          @if (editForm.get('patrimonio')!.invalid && (editForm.get('patrimonio')!.dirty || editForm.get('patrimonio')!.touched)) {
            <div>
              @if (editForm.get('patrimonio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('patrimonio')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          @if (editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)) {
            <div>
              @if (editForm.get('nome')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.numeroDeSerie" for="field_numeroDeSerie">Numero De Serie</label>
          <input
            type="text"
            class="form-control"
            name="numeroDeSerie"
            id="field_numeroDeSerie"
            data-cy="numeroDeSerie"
            formControlName="numeroDeSerie"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.dataAquisicao" for="field_dataAquisicao">Data Aquisicao</label>
          <div class="input-group">
            <input
              id="field_dataAquisicao"
              data-cy="dataAquisicao"
              type="text"
              class="form-control"
              name="dataAquisicao"
              ngbDatepicker
              #dataAquisicaoDp="ngbDatepicker"
              formControlName="dataAquisicao"
            />
            <button type="button" class="btn btn-secondary" (click)="dataAquisicaoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.valorCompra" for="field_valorCompra">Valor Compra</label>
          <input
            type="number"
            class="form-control"
            name="valorCompra"
            id="field_valorCompra"
            data-cy="valorCompra"
            formControlName="valorCompra"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.valorAtual" for="field_valorAtual">Valor Atual</label>
          <input
            type="number"
            class="form-control"
            name="valorAtual"
            id="field_valorAtual"
            data-cy="valorAtual"
            formControlName="valorAtual"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.estado" for="field_estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'tesPatApp.TipoConservacao.null' | translate }}</option>
            @for (tipoConservacao of tipoConservacaoValues; track $index) {
              <option [value]="tipoConservacao">{{ 'tesPatApp.TipoConservacao.' + tipoConservacao | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'tesPatApp.TipoStatus.null' | translate }}</option>
            @for (tipoStatus of tipoStatusValues; track $index) {
              <option [value]="tipoStatus">{{ 'tesPatApp.TipoStatus.' + tipoStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.observacoes" for="field_observacoes">Observacoes</label>
          <input
            type="text"
            class="form-control"
            name="observacoes"
            id="field_observacoes"
            data-cy="observacoes"
            formControlName="observacoes"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.categoria" for="field_categoria">Categoria</label>
          <select
            class="form-control"
            id="field_categoria"
            data-cy="categoria"
            name="categoria"
            formControlName="categoria"
            [compareWith]="compareCategoria"
          >
            <option [ngValue]="null"></option>
            @for (categoriaOption of categoriasSharedCollection; track $index) {
              <option [ngValue]="categoriaOption">{{ categoriaOption.nome }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.fornecedor" for="field_fornecedor">Fornecedor</label>
          <select
            class="form-control"
            id="field_fornecedor"
            data-cy="fornecedor"
            name="fornecedor"
            formControlName="fornecedor"
            [compareWith]="compareFornecedor"
          >
            <option [ngValue]="null"></option>
            @for (fornecedorOption of fornecedorsSharedCollection; track $index) {
              <option [ngValue]="fornecedorOption">{{ fornecedorOption.nome }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="tesPatApp.bem.local" for="field_local">Local</label>
          <select class="form-control" id="field_local" data-cy="local" name="local" formControlName="local" [compareWith]="compareLocal">
            <option [ngValue]="null"></option>
            @for (localOption of localsSharedCollection; track $index) {
              <option [ngValue]="localOption">{{ localOption.nome }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
